# MongoDB URI: Go to MongoDB Atlas: https://www.mongodb.com/cloud/atlas, create a new cluster, and copy the URI
MONGODB_URI=

# Node environment
NODE_ENV=development

# Google Maps API Key: Go to Google Cloud Console: https://console.cloud.google.com/google/maps-apis/credentials, create a new project, and copy the API key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=