@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #04D5FF;
  --primary-light: rgba(4, 213, 255, 0.1);
  --secondary: #00FACA;
  --secondary-light: rgba(0, 250, 202, 0.1);
}

.mesh-gradient {
  background-color: white;
  background-image: radial-gradient(at 40% 20%, var(--primary-light) 0px, transparent 50%),
    radial-gradient(at 80% 0%, var(--secondary-light) 0px, transparent 50%),
    radial-gradient(at 0% 50%, var(--primary-light) 0px, transparent 50%),
    radial-gradient(at 80% 50%, var(--secondary-light) 0px, transparent 50%);
}